/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* main structure */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

body{
    background-color: rgba(85, 181, 246, 0.66);
}

.main-container {
    border: 4px solid rgba(62, 177, 5, 0.82);
    padding: 20px;
    margin: 8px;
}

/*typograhy */

*{
    color: white;
}

h1, p {
    font-family: "Merriweather";
}

h1{
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

h3{
    font: 700 20px/30px Arial;
}

h2{
    font: 700 30px/45px Arial;
    margin: 18px;
}

p{
    font-size: 16px;
    line-height: 24px;
}

/* nav */

.nav-links, .footer-links {
    position:relative;
    top: 50%;
    left: 50%;
    border: none;
}

/* footer */
 
footer {
    clear: right;
}

/* logo */

.logo {
    float: right;
}

.logo>img{
    width: 300px;
}

